* {
    padding: 0;
    margin: 0;

    color: white;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
    user-select: none;
}

/* 防止出现滚动条 */
body {
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}